.addedNoti {
  color: green;
  background-color: rgb(194, 194, 194);
  border: solid 3px green;
  padding: 10px 5px;
  border-radius: 5px;
}

.deleteNoti {
  color: red;
  background-color: rgb(194, 194, 194);
  border: solid 3px red;
  padding: 10px 5px;
  border-radius: 5px;
}
